@font-face {
  font-family: SFPro;
  src: url(/fonts/SFPRODISPLAYREGULAR.OTF);
}

.logInSignup-Bg {
  font-family: SFPro;
  background: linear-gradient(180deg, #E8FFED 20.19%, #FFFFFF 50%, #E8FFED 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.homeBg {
  background-image: url(/images/homeBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.btnGreenBG {
  background: linear-gradient(90deg, #1F6F43 0%, #3FA66B 100%);
  color: white;
}